/* Index.html */
@font-face {
    font-family: "SH";
    src: url("silent_hill_font/SLNTHLE.TTF");
    font-weight: 900;
}
.centro100{
    margin:center;
    text-align:center;
}
.PH2{
    margin: 20px 0 0 0;
    margin:center;
    width:100%;
    height: 50px;
    background-color: black ;
}
.contenedorCabecera{
    text-align: center;
    margin:center;
}
.webiwabo{
    text-align: center;
}
.vid{
    padding-top:20px;

    width:240px;
    height:360px;
    text-align: center;
}
.FF7{
    width: 100%;
    margin:center;
}
.PH{
    width: 100%;
    height: 90px;
    margin:center;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
.P1{
    color:rgb(0, 0, 161);
    font-size:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    text-decoration: underline;
    margin:center;
}
.listgen{
    font-size:45px;
    text-align: center;
    margin:center;
}
.rojo{
    color:red
}
.azul{
    color:blue;
}
.gen{
    font-size:150%;
    text-align:center;
    margin:0 center;
}
.sh{
    color:rgb(182, 0, 0);
    font-family:'SH';
    font-size:200%;
    font-weight:900;
    font-style:italic;
    text-align:justify;
    line-height:1;
    letter-spacing:1px;
    text-transform: lowercase;
    margin:center;
}
.F{
    background-color:rgb(217, 255, 0);
}


/* Enlaces 1 */
form{
    width:500px;
    padding: 100px 5px 4px 20px;
    background-color: rgb(123, 255, 0);
}
.d{
    background-color: blue;
    width:100%px;
    height:200px;
}
.H{
    color: aqua;
    background-color: black;
    height: 100px;
    text-align: center;
}
.Formu{
    width:50%;
    height: 20px;
    padding: 15px 15px 15px;
}
.a{
    background-color: rgb(234, 0, 255);
}
.s{
    color: aqua;
    background-color: black;
    margin:10px;
}
.ola{
    background:rgb(0, 255, 136);
    padding:50px;
    margin:20px;
    width:70px;
}
.FE1{
    background-color:rgb(42, 165, 159)
}

/* Enlaces 2 */
.en2{
    background-color: rgb(0, 255, 21);
}
.box1{
    width: 510px;
    height: 150px;
    margin:50px;
    background-color: rgb(224, 6, 6);
}
.separador{
    overflow:hidden;
}
.box2{
    width: 510px;
    height: 150px;
    margin:20px;
    background-color: brown;
}
.border{
    background-color: rgb(0, 255, 136);
    border-width: 10px;
    border-color: blue;
    border-style: solid;
    width:150px;
    border-radius: 40px;
    text-align:center;
}
.border2{
    border: 10px solid blue;
    background-color: rgb(0, 255, 136);
    border-radius: 40px;
    text-align:center;
    width:150px;
    margin-top: 10px;
}
.border3{
    margin-top: 10px;
    border: 10px solid;
    text-align:center;
    width:100px;
    background-color: aliceblue;
    border-top-right-radius: 20px ;
    border-top-left-radius: 60px ;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius:5px;
}
.inpute2{
    margin: 20px 0 0 0;
    border:none;
    width: 90px;
}
.inpute3{
    border-radius: 30px 15px;
}
.contraE2{
    margin:20px;
    padding: 20px;
    border:none;
    background-color: rgb(0, 255, 21);
    color: rgb(0, 183, 255);
    border-bottom: 6px solid red;
    border-radius:4px;
}


/* Enlaces 3 */
.TLS{
    width:90%;
}
.TheLastS{
    color: black;
    text-align: center;
    background-color: blue;
}
.papupapu{
    color:aliceblue
}
.laulti{
    text-align: center;
    text-align: justify;
    margin:center;
    color:rgb(255, 255, 255);
}

/* Enlaces 4 */
.e4b{
    margin:0;
    background-color: #F00;
}
.boxE4{
    width:200px;
    height:200px;
    background-color: hsl(90, 80%, 60%);
    margin:20px;
}
.box-default{
    padding:15px;
    border: 10px solid black;
}
.new-box{
    box-sizing:border-box;
    padding:15px;
    border: 10px solid #fe00fa;
}
.new-box2{
    color:#92Cb;
    text-align:center;
    border-top:20px solid #0F9;
    font-weight:bold;
    width:92px;
    height:60px;
    background-color:black;
    margin:20px
}
.txtE4{
    text-align: left;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    background-color: #dadada;
    border-left: 10px solid gray;
    margin: 20px;
}
.spider{
    width:70%;
    margin:20px;
}
span1{
    color:rgba(75, 75, 75, 0.500);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
.cajaSM{
    text-align: center;
}